<table class="bordered highlight">
    <thead>
        <tr>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>More Information</th>
        </tr>
    </thead>
    <tbody>
        {% for heli in helis %}
            <tr>
                <td>{{ heli.manufacturer }}</td>
                <td>{{ heli.model }}</td>
                <td><a href="/helis/{{ heli.manufacturer.name|slugify }}/{{ heli.id }}">See More</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>