{% extends 'base.html' %}

{% block content %}
    <form id="filter_form">
        <div class="row">
            <div class="col s3">
                <div class="input-field ">
                    {{ form.manufacturer }}
                    <label for="id_manufacturer">Select Manufacturer</label>
                </div>
            </div>
        </div>
    </form>
    <div class="col s3">
        <button class="waves-effect waves-light btn blue" id="search_button">Search</button>
    </div>
    <div id="heli_list">
        {% include 'helis/panels/heli_table.html' %}
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function() {
            $('#id_manufacturer').material_select();

            $('#search_button').click(function() {
                var id = parseInt($('#id_manufacturer').val(), 10);
                $.ajax({
                    type: "GET",
                    url: "/helis/filter/manufacturer/" + id + "/",
                    success: function(data){
                        $('#heli_list').html();
                        $('#heli_list').html(data);
                    }
                }) ;
            });
        });
    </script>
{% endblock %}