{% extends 'base.html' %}

{% block content %}
    <form id="filter_form">
        {% csrf_token %}
        <div class="row valign-wrapper">
            <div class="col s4 valign">
                <div class="input-field ">
                    {{ form.manufacturer }}
                    <label for="id_manufacturer">Enter Manufacturer</label>
                </div>
            </div>
            <div class="col s4 valign">
                <div class="input-field">
                    {{ form.model }}
                    <label for="id_model">Enter Model</label>
                </div>
            </div>
            <div class="col s3 valign">
                <button type="button" class="waves-effect waves-light btn blue" id="search_button">Search</button>
            </div>
            {{ form.page }}
        </div>
    </form>
    <div id="plane_list">
        <table class="bordered highlight" id="plane_list_table">
            <thead>
                <tr>
                    <th>Manufacturer</th>
                    <th>Model</th>
                    <th>More Information</th>
                </tr>
            </thead>
            <tbody>
                {% include 'planes/panels/plane_table.html' %}
            </tbody>
        </table>
    </div>
    <div class="row">
        {% if pager.num_pages > 1 %}
            <ul class="pagination center" id="plane_list_pagination">
                {% include 'planes/panels/pager.html' %}
            </ul>
        {% endif %}
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        function plane_pagination(){
            $.ajax({
                type: 'POST',
                url: '/planes/',
                data: $('#filter_form').serialize(),
                success: function (data) {
                    $('#plane_list_table > tbody').html();
                    $('#plane_list_table > tbody').html(data.planes);
                    $('#plane_list_pagination').html();
                    $('#plane_list_pagination').html(data.pager);
                }
            });
        }

        function page_change(page_num) {
            $('#id_page').val(page_num);
            plane_pagination();
        }

        $(document).ready(function() {
            $('.filter').change(function () {
                $('#id_page').val(1);
                plane_pagination();
            });

            $('#search_button').click(function() {
                $.ajax({
                    type: "POST",
                    url: "/planes/filter/",
                    data: $('#filter_form').serialize(),
                    success: function(data){
                        $('#plane_list_table > tbody').html();
                        $('#plane_list_table > tbody').html(data.planes);
                        $('#plane_list_pagination').html();
                        $('#plane_list_pagination').html(data.pager);

                    }
                }) ;
            });

        });
    </script>
{% endblock %}