{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col s4">
            Model
        </div>
        <div class="col s4">
            Range
        </div>
        <div class="col s4">
            Seating Capacity
        </div>
    </div>
    {% for plane in planes %}
        <div class="row">
            <div class="col s4">
                 <a href="{{ plane.id }}">{{ plane.model }}</a>
            </div>
            <div class="col s4">
                {{ plane.plane_range }}
            </div>
            <div class="col s4">
                {{ plane.seating }} people
            </div>
        </div>
    {% endfor %}
{% endblock %}