{% extends 'base.html' %}

{% block content %}
    <table class="striped bordered">
        <thead>
            <tr>
                <th>Specification</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for field, value in result_dict %}
                {% if value %}
                    <tr>
                        <td>{{ field }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}